name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: "18"

      - run: npm ci

      # Run Prettier to auto-format code before linting
      - run: npm run format

      - run: npm run check

      # Lint the code after it's been formatted
      - run: npm run lint

      - run: npm run build

      - uses: JamesIves/github-pages-deploy-action@4.1.8
        with:
          branch: gh-pages
          folder: build
          single-commit: true
